<form action = "/bogs/<%= @bog.id %>" method="post">
	<!-- Since rails can't do put, enter the following line -->
	<input type="hidden" name="_method" value="put">

	<label>Creature Name: </label> <input type="text" name="bog[name]" value = "<%= @bog.name %>"> <br>
	<label>Description: </label> <br>
	<textarea name= "bog[description]"><%= @bog.description %></textarea>
	
	<!-- authenticty tag -->
	<%= token_tag form_authenticity_token %>
	
	<button>Submit</button>
</form>